# config.yaml
# Main configuration file. Use this as a base and override per environment.

app:
  name: "{{ project_name }}"
  debug: false

# logging:
#   level: INFO
#   dir: logs/

# mlflow:
#   tracking_uri: runs/mlruns
#   experiment_name: default
